<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h3>Edit your chat here:</h3>
    <p>chat was send by <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
</body>
<form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
    <textarea name="msg" id="" rows="6" cols="10" ><%= chat.msg %></textarea>
    <button>Edit</button>
</form>
</html>